@import '~antd/dist/antd.css';
body {
  width: 100% !important;
}
.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.app .no-posts {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.app .no-posts h1 {
  font-size: 25px;
  font-weight: bold;
}
.app .opacity {
  opacity: 0;
}
.app .unopacity {
  transition: all 0.5s;
  opacity: 1;
}
.app .wid {
  width: 100%;
  height: 100%;
}
.app ul > li {
  list-style-type: none;
}
.app p,
.app h1,
.app h2,
.app h6 {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.app .container {
  width: 1084px;
  padding: 0 30px;
  border-radius: 20px;
}
.app .container .link {
  text-decoration: none;
  color: inherit;
}
.app .container .auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b9e7e7;
}
.app .container .auth h1 {
  color: teal;
}
.app .container .auth form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  width: 350px;
  gap: 5px;
}
.app .container .auth form .red {
  color: red;
  font-size: 12px;
}
.app .container .auth form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
.app .container .auth form button {
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}
.app .container .auth form p {
  color: red;
  font-size: 12px;
  text-align: center;
}
.app .container .auth form span {
  font-size: 12px;
  text-align: center;
}
.app .container .navbar {
  display: flex;
  align-items: center;
}
.app .container .navbar .container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .container .navbar .container .logo img {
  width: 120px;
}
.app .container .navbar .container .links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.app .container .navbar .container .links h6 {
  font-size: 16px;
  font-weight: 300;
}
.app .container .navbar .container .links h6:hover {
  font-weight: bolder;
}
.app .container .navbar .container .links .active {
  font-weight: bolder;
}
.app .container .navbar .container .links .user-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin: auto 20px;
}
.app .container .navbar .container .links .user-info span {
  cursor: pointer;
}
.app .container .navbar .container .links .user-info .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #b9e7e7;
  overflow: hidden;
  box-sizing: border-box;
}
.app .container .navbar .container .links .user-info .img img {
  width: 100%;
  object-fit: cover;
}
.app .container .navbar .container .links .write {
  background-color: #b9e7e7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  box-sizing: border-box;
  margin-top: 0;
}
.app .container .navbar .container .links .write:hover {
  border: 1px solid teal;
  color: teal;
  background-color: white;
}
.app .container .search {
  width: 100%;
  border-bottom: 2px dashed #b9e7e7;
  text-align: center;
}
.app .container .search .input {
  width: 80%;
  margin: 0 auto;
}
.app .container .search-res .no-posts {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.app .container .search-res .no-posts h1 {
  font-size: 25px;
  font-weight: bold;
}
.app .container .search-res .posts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 100px;
}
.app .container .search-res .posts .post {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
  border-bottom: 2px dashed #b9e7e7;
}
.app .container .search-res .posts .post:nth-child(2n) {
  flex-direction: row-reverse;
}
.app .container .search-res .posts .post .img {
  flex: 2;
  position: relative;
  max-width: 300px;
  max-height: 200px;
}
.app .container .search-res .posts .post .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app .container .search-res .posts .post .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #b9e7e7;
  position: absolute;
  left: -20px;
  top: 20px;
  z-index: -1;
}
.app .container .search-res .posts .post .content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .container .search-res .posts .post .content h1 {
  font-size: 30px;
}
.app .container .search-res .posts .post .content p {
  font-size: 18px;
  max-height: 300px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .search-res .posts .post .content button {
  padding: 8px;
  width: 100%;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  cursor: pointer;
  box-sizing: border-box;
}
.app .container .search-res .posts .post .content button:hover {
  background-color: teal;
  border: 1px solid teal;
  color: white;
}
.app .container .search-res .pages {
  height: 50px;
  text-align: center;
}
.app .container .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  border: 2px dashed teal;
  border-radius: 5px;
  background-color: #b9e7e7;
  overflow: hidden;
}
.app .container .footer img {
  width: 80px;
}
.app .container .footer span {
  font-size: 14px;
}
.app .container .home .posts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 100px;
}
.app .container .home .posts .post {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
  border-bottom: 2px dashed #b9e7e7;
}
.app .container .home .posts .post:nth-child(2n) {
  flex-direction: row-reverse;
}
.app .container .home .posts .post .img {
  flex: 2;
  max-height: 200px;
  position: relative;
}
.app .container .home .posts .post .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app .container .home .posts .post .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #b9e7e7;
  position: absolute;
  left: -20px;
  top: 20px;
  z-index: -1;
}
.app .container .home .posts .post .content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .container .home .posts .post .content h1 {
  font-size: 30px;
}
.app .container .home .posts .post .content p {
  font-size: 18px;
  max-height: 300px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .home .posts .post .content button {
  padding: 8px;
  width: 100%;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  cursor: pointer;
  box-sizing: border-box;
}
.app .container .home .posts .post .content button:hover {
  background-color: teal;
  border: 1px solid teal;
  color: white;
}
.app .container .home .pages {
  height: 50px;
  text-align: center;
}
.app .container .single {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.app .container .single .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 5px dotted #b9e7e7;
  padding-right: 20px;
}
.app .container .single .content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.app .container .single .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.app .container .single .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.app .container .single .content .user .info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.app .container .single .content .user .info p {
  margin-bottom: 0;
}
.app .container .single .content .user .info span {
  font-weight: bold;
}
.app .container .single .content .user .edit {
  display: flex;
  gap: 5px;
}
.app .container .single .content .user .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.app .container .single .content h1 {
  font-size: 42px;
  color: #333;
}
.app .container .single .content p {
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
}
.app .container .single .recomment {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.app .container .single .recomment h1 {
  font-size: 20px;
  color: #555;
}
.app .container .single .recomment .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .container .single .recomment .post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.app .container .single .recomment .post h2 {
  color: #555;
}
.app .container .single .recomment .post button {
  width: 30%;
  padding: 8px;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  cursor: pointer;
  box-sizing: border-box;
}
.app .container .single .recomment .post button:hover {
  background-color: teal;
  border: 1px solid teal;
  color: white;
}
.app .container .write {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 20px;
}
.app .container .write .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .write .content .input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.app .container .write .content .red {
  color: red;
  font-size: 12px;
}
.app .container .write .content .editorContainer {
  flex: 1;
  overflow: visible;
  max-height: 50vh;
}
.app .container .write .content .editorContainer .editor {
  height: 85%;
  border: none;
}
.app .container .write .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .container .write .menu .item {
  border: 1px solid #b9e7e7;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  gap: 5px;
}
.app .container .write .menu .item h1 {
  color: #333;
  font-size: 20px;
}
.app .container .write .menu .item .progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .container .write .menu .item .progress .file {
  text-decoration: underline;
  cursor: pointer;
}
.app .container .write .menu .item .btns {
  display: flex;
  justify-content: space-between;
}
.app .container .write .menu .item .btns :first-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .write .menu .item .btns :last-child {
  cursor: pointer;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .write .menu .item .cat {
  color: teal;
}
.app .container .user .navbar {
  border-bottom: 1px solid #b9e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .container .user .navbar .home {
  cursor: pointer;
  margin-right: 40px;
}
.app .container .user .navbar .home .back {
  font-size: 18px;
  color: #90e6e6;
  font-weight: bold;
}
.app .container .user .navbar .home .back:hover {
  color: teal;
}
.app .container .user .user-major {
  margin-bottom: -100px;
}
.app .container .user .user-major .layout {
  min-height: 100vh;
}
.app .container .user .user-major #components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.app .container .user .user-major #components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.app .container .user .user-major #components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.app .container .user .user-major #site-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .container .user .user-major #site-layout .user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app .container .user .user-major #site-layout .user-info span {
  font-weight: bold;
}
.app .container .user .user-major #site-layout .user-info .img {
  width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid #b9e7e7;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.app .container .user .user-major #site-layout .user-info .img img {
  width: 100%;
  object-fit: cover;
  vertical-align: auto;
}
.app .container .user .user-major .site-layout .site-layout-background {
  background: #fff;
}
.app .container .user .user-major .ant-layout-content {
  border-radius: 10px;
}
.app .container .user-info .info {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #b9e7e7;
}
.app .container .user-info .info .img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #b9e7e7;
  cursor: pointer;
}
.app .container .user-info .info .img img {
  width: 100%;
}
.app .container .user-info .info .username {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .container .user-info .info .username span {
  display: flex;
  gap: 30px;
}
.app .container .user-info .info .username span i {
  font-size: 12px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.app .container .user-info .user-articles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .container .user-info .user-articles .articles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(150px, auto));
}
.app .container .user-info .user-articles .articles .article {
  color: black;
  min-width: 250px;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  gap: 20px;
  align-items: center;
  border: 5px dotted #b9e7e7;
}
.app .container .user-info .user-articles .articles .article:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 5px #888888;
  border-bottom: 0;
  border-right: 0;
}
.app .container .user-info .user-articles .articles .article .img {
  flex: 2;
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
}
.app .container .user-info .user-articles .articles .article .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat center;
}
.app .container .user-info .user-articles .articles .article .post {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .container .user-info .user-articles .articles .article .post h6 {
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .user-info .user-articles .articles .article .post p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .user-info .user-articles .no-posts {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .container .publisheds {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.app .container .publisheds .articles {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app .container .publisheds .articles .article {
  min-width: 600px;
  flex: 1;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  border: 5px dotted #b9e7e7;
  gap: 20px;
}
.app .container .publisheds .articles .article:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 5px #888888;
  border-bottom: 0;
  border-right: 0;
}
.app .container .publisheds .articles .article .img {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  height: 18vh;
  min-height: 100px;
}
.app .container .publisheds .articles .article .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.app .container .publisheds .articles .article .post {
  color: black;
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .container .publisheds .articles .article .post h6 {
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .publisheds .articles .article .post p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .publisheds .no-posts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .container .drafts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.app .container .drafts .articles {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app .container .drafts .articles .article {
  min-width: 600px;
  flex: 1;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  border: 5px dotted #b9e7e7;
  gap: 20px;
}
.app .container .drafts .articles .article:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 5px #888888;
  border-bottom: 0;
  border-right: 0;
}
.app .container .drafts .articles .article .img {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  height: 18vh;
  min-height: 100px;
}
.app .container .drafts .articles .article .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.app .container .drafts .articles .article .post {
  color: black;
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .container .drafts .articles .article .post h6 {
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .drafts .articles .article .post p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.app .container .drafts .no-posts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .container .draft-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
}
.app .container .draft-preview .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 40px;
  border: 5px dotted #90e6e6;
  border-radius: 20px;
}
.app .container .draft-preview .content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.app .container .draft-preview .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.app .container .draft-preview .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.app .container .draft-preview .content .user .info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.app .container .draft-preview .content .user .info p {
  margin-bottom: 0;
}
.app .container .draft-preview .content .user .info span {
  font-weight: bold;
}
.app .container .draft-preview .content .user .edit {
  display: flex;
  gap: 5px;
  align-items: center;
}
.app .container .draft-preview .content .user .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.app .container .draft-preview .content h1 {
  font-size: 42px;
  color: #333;
}
.app .container .draft-preview .content p {
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
}
#change-data .change {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#change-data .change span {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}
#change-data .change span input {
  padding: 5px;
  border-width: 0 0 2px 0;
}
#change-img {
  display: flex;
  gap: 20px;
}
#change-img .left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-right: 2px dotted #90e6e6;
}
#change-img .left .slider {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#change-img .left .slider span {
  font-weight: bold;
}
#change-img .right {
  padding-left: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  align-items: flex-end;
}
#change-img .right .img {
  width: 200px;
  height: 200px;
  border: 2px dashed #b9e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
#change-img .right .img img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
#change-img .right .upload-file {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#change-img .right .upload-file .input .file {
  cursor: pointer;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading h1 {
  font-weight: bold;
  font-size: 25px;
}
